<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Islington Marketplace{% endblock %}</title>
    {% load static %}  {# To load static file we have to write load static#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {# It gives path#}
</head>
<body>
    <h1>Welcome to the Marketplace</h1>
    {% block content %}{% endblock %}      {#It will be used in multiple html pages#}
</body>
</html>